﻿.main-page {
    position: relative;
    width: 100%;
}

.main-page img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-page h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}

.main-page h1 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.menu {
    width: 100%;
    background-color: bisque;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin: -5px;
}

.menu ul li {
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    color: burlywood;
    display: inline-block;
    padding: 10px 20px;
    background-color: bisque;
    border-bottom: 5px solid #0094ff;
            margin-right: 5px;
}

.book-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input.input-validation-error {
    border: 0 none;
    color: red;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}