﻿@model TestTask.UI.Models.AuthorsWithPageViewModel

@{
    ViewBag.Title = "Просмотр авторов";
}

<h2>
    <span class="book-header">Список авторов</span>
</h2>

<div>
    @foreach (var author in Model.Authors)
    {
        <table style="max-height:750px;">
            <tbody>
                <tr>
                    <td>
                        <a>
                            <img width="250" height="355" alt=""
                                 src="@Url.Content("~/Content/Images/author-image.jpg")" style="display: inline;">
                        </a>
                    </td>
                    <td>
                        <div>
                            <span>Имя автора: @author.Name</span>
                        </div>
                        <div>
                            <span>Фамилия: @author.Surname</span>
                        </div>
                        <div>
                            <span>Отчество: @author.Patronymic</span>
                        </div>
                        <div>
                            <span>Дата рождения: @author.BirthDate.Value.ToShortDateString()</span>
                        </div>
                        <div>
                            <span>Список книг:</span>
                            <span>
                                @string.Join(", ", author.Books.Select(x => x.Name))
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    }
</div>

@Html.Partial("_Paging")