﻿@model TestTask.UI.Models.BookViewModel

@{
    ViewBag.Title = "Содержание книги";
}

<h2>Книга @Model.Name</h2>

<div>
    <h4>Содержание книги @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    <hr />
</div>

<ul>
    <li>Средняя длина предложения: @Model.BookStatistics.BookAverageSentenceLength <span>(символов)</span></li>
    <li>Средняя длина слова: @Model.BookStatistics.BookAverageWordLength <span>(символов)</span></li>
    <li>Длина текста: @Model.BookStatistics.BookTextLength <span>(символов)</span></li>
    <li>Количество уникальных слов в тексте: @Model.BookStatistics.BookUniqueWordsCount</li>
    <li>Количество слов в тексте: @Model.BookStatistics.BookWordsCount</li>
</ul>

<p>
    @Html.ActionLink("Вернуться назад", "Index")
</p>