﻿@model TestTask.UI.Models.BookViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите ниже свои данные</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Название книги", htmlAttributes:
                new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "Введите название",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Список авторов", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.AuthorsIds,
                    new MultiSelectList(
                        Model.Authors, 
                        "AuthorId", 
                        "Name", 
                        Model.Authors.Select(x => x.AuthorId).ToArray()
                    ),
                    new { @id = "select2-authors", @class = "form-control", style = "width: 400px;" })
                @Html.ValidationMessageFor(model => model.Authors, "Выберите из списка",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Список жанров", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.GenresIds,
                    new MultiSelectList(
                        Model.Genres, 
                        "GenreId", 
                        "Name", 
                        Model.Genres.Select(x => x.GenreId).ToArray()
                    ),
                    new { @id = "select2-genres", @class = "form-control", style = "width: 400px;" })
                @Html.ValidationMessageFor(model => model.Genres, "Выберите из списка",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Описание книги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 10, 100,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "Введите описание",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, "Дата написания книги", htmlAttributes:
                new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreationDate,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreationDate, "Введите дату в правильном формате(mm-dd-yyyy)",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Isbn, "ISBN книги", htmlAttributes:
                new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isbn,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Isbn, "Введите ISBN",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, "Содержание книги", htmlAttributes:
                new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, 10, 100,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "Введите содержание",
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>