﻿@model TestTask.UI.Models.BooksWithPageViewModel

@{
    ViewBag.Title = "Просмотр книг";
}

@Html.Partial("_AddBookMenu")

<h2>
    <span class="book-header">Каталог книг</span>
</h2>

@using (Html.BeginForm())
{
    <div style="outline: 2px solid black">
        <div><pre> Название книги:</pre>@Html.TextBoxFor(model => model.SearchBook.BookName)</div>
        <div><pre> ФИО автора:    </pre>@Html.TextBoxFor(model => model.SearchBook.AuthorName)</div>
        <div><pre> Год выпуска:   </pre>@Html.TextBoxFor(model => model.SearchBook.CreationDate)</div>
        <div><pre> Жанр:          </pre>@Html.TextBoxFor(model => model.SearchBook.GenreName)</div>
        <input type="submit" value="Поиск" />
    </div>
}

<div>
    @foreach (var book in Model.Books)
    {
        @Html.Hidden("BookId", book.BookId)
        <table style="max-height:750px;">
            <tbody>
                <tr>
                    <td>
                        <a>
                            <img alt="author image" height="355"
                                 src="@Url.Content("~/Content/Images/book-image.jpg")"
                                 style="display: inline;"
                                 width="250">
                        </a>
                    </td>
                    <td>
                        <div>
                            <span>Название книги: @book.Name</span>
                        </div>
                        <div>
                            <span>ISBN: @book.Isbn</span>
                        </div>
                        <div>
                            <span>
                                Авторы:
                                @string.Join(", ", book.Authors.Select(x => x.Surname + " " + x.Name + " " + x.Patronymic))
                            </span>
                        </div>
                        <div>
                            <span>Жанры:</span>
                            <span>
                                @string.Join(", ", book.Genres.Select(x => x.Name))
                            </span>
                        </div>
                        <div>
                            <span>Дата написания: @book.CreationDate.Value.ToString("MM/dd/yyyy")</span>
                        </div>
                        <div style="float:left;">
                            <p>Краткое описание:</p>
                            <div style="width:180px; padding-top: 10px; margin-bottom: 13px;">
                                @book.Description
                            </div>
                            <div style="width:180px; padding-top: 10px; margin-bottom: 13px;">
                                @Html.RouteLink("Читать книгу",
                                    new { controller = "Book", action = "BookDetails", id = book.BookId })
                                @Html.RouteLink("Отредактировать книгу",
                                    new { controller = "Book", action = "EditBook", id = book.BookId })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    }
</div>

@Html.Partial("_Paging")