﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека &#34;Алые паруса&#34; - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/select.authors.min.js")
    @Scripts.Render("~/Scripts/select.genres.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
</head>

<body>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Книги", "Index", "Book")</li>
            <li>@Html.ActionLink("Авторы", "Index", "Author")</li>
            <li>@Html.ActionLink("Жанры", "Index", "Genre")</li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>