﻿@model TestTask.UI.Models.GenresWithPageViewModel

@{
    ViewBag.Title = "Просмотр жанров";
}

<h2>Жанры книг</h2>

<table class="table">
    <tr>
        <th colspan="2">
            Список жанров
        </th>
        <th></th>
    </tr>

    @foreach (var genre in Model.Genres)
    {
        <tr>
            <td>
                Название жанра:
            </td>
            <td>
                @genre.Name
            </td>
        </tr>
    }
</table>

<hr>

@Html.Partial("_Paging")